<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <h1><img src="../../../../assets/images/logo.png" alt="" /></h1>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="top-search">
        <form class="search" [formGroup]="searchForm">
          <input type="text" placeholder="Search..." formControlName="nameVideo" (input)="search()" />
          <ul class="results" id="results">
            <li *ngFor="let video of videos">
              <a routerLink="/show-video/{{video._id}}" (click)="reset()"><b>{{video.title}}</b>
                <br /><span>{{video.category}}</span></a>
            </li>
          </ul>
        </form>

      </div>
      <div class="header-top-right">
        <div class="file">
          <a class="pointer" (click)="gotoUpload()">Upload</a>
        </div>

        <div class="signin" *ngIf="!isLogin">
          <a href="#small-dialog" class="play-icon popup-with-zoom-anim" data-toggle="modal"
            data-target="#loginModal">Sign In</a>
        </div>
        <div class="pp" *ngIf="isLogin">
          <div class="menu-container">
            <button class="menu-button" (click)="showDetailUser()">
              <img src="http://localhost:8081/api/image/{{currentUser.avatar}}" *ngIf="currentUser.avatar">
              <img src="../../../../assets/images/default_avatar.png" *ngIf="!currentUser.avatar">
              <span class="title"> {{currentUser.name}} </span></button>
            <!-- <span class="title"> {{currentUser.name}} </span> -->
            <div class="menu-dropdown">
              <div class="content">
                <ul>
                  <li> <a routerLink="/profile"><i class="fa fa-user"></i> Profile</a> </li>
                  <li> <a (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="margin: 0px auto">
    <div class="wrap">
      <div class="login" style="width: 100%">
        <div class="toggle-bar">
          <div class="toggle-login active">
            <span>Login</span>
          </div>
          <div class="toggle-register">
            <span>Register</span>
          </div>
        </div>
        <form [formGroup]="signInForm">
          <div class="login-body">

            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="Username" formControlName="username">
            </div>
            <div class="input-section">
              <i class="fas fa-lock"></i>
              <input class="user-input" type="password" placeholder="Password" formControlName="password">
            </div>
            <div *ngIf="isErrorLogin" style="color: red">Username or password not found</div>
            <p id="forgot-password">Forgot your password?</p>
            <button class="btn" id="btn-login" (click)="login()">Login</button>

          </div>
        </form>
        <form [formGroup]="signupForm">
          <div class="register-body" style="display:none;">
            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="First name" maxlength="50" pattern="[1-9]{1}\d{9}"
                formControlName="firstName">
            </div>
            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="Last name" maxlength="50" pattern="[1-9]{1}\d{9}"
                formControlName="lastName">
            </div>
            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="Email" maxlength="50" pattern="[1-9]{1}\d{9}"
                formControlName="email">
            </div>
            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="Username" maxlength="50" pattern="[1-9]{1}\d{9}"
                formControlName="username">
            </div>
            <div class="input-section">
              <i class="fas fa-user"></i>
              <input class="user-input" type="text" placeholder="Password" maxlength="50" pattern="[1-9]{1}\d{9}"
                formControlName="password">
            </div>
            <div class="input-section">
              <i class="fas fa-lock"></i>
              <input class="user-input" type="password" placeholder="Comfirm password" maxlength="50"
                pattern="[1-9]{1}\d{9}" formControlName="confirmPassword">
            </div>
            <p id="registered">Already registered?</p>
            <button class="btn" id="btn-signup" (click)="signup()">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>