<div class="hipsum">
  <div>
    <input type="text" placeholder="Add new Language" id="NewCate">
    <button (click)="addLanguage()">Add</button>
  </div>
  <div id="app">
    <div class="search-wrapper">
      <input type="text" placeholder="Start searching for language" [(ngModel)]="searchText">
      <label for="">Search title:</label>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10%">#</th>
        <th style="width: 20%">Language</th>
        <th style="width: 40%">Edit Name</th>
        <th style="width: 30%">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let language of listLanguage| filter:searchText;index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{language.language}}</td>
        <td>
          <input type="text" placeholder="{{language.language}}" id="id_{{language._id}}">
          <button (click)="updateLanguage(language)">Save</button>
        </td>
        <td><button (click)="delete(language._id, i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>