.uploadTemplate{
  padding-top: 50px
}

.engine{
  width: 50%;
  margin: 0 25%;
}

.btn-upload{
  margin: 1em;
  background-color: #1abc9c;
  padding: 0 19px;
  height: 32px;
}

.btn-cancel{
  margin: 1em;
  padding: 0 19px;
  height: 32px;
}

.name-file{
  text-align: center
}