<!-- <app-menu-admin></app-menu-admin> -->
<div class="header">
  <a id="menu-action">
    <i class="fas fa-bars"></i>
    <span>Menu</span>
  </a>
  <div class="logo">
    Management panel
  </div>
</div>
<div class="sidebar">
  <ul>
    <li><a href="#"><i class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
    <li><a routerLink="manage-users"><i class="fas fa-users"></i><span>Quản lý tài khoản</span></a></li>
    <!-- <li><a routerLink="manage-video"><i class="fas fa-suitcase"></i><span>Quản lý video</span></a></li> -->
    <li><a routerLink="manage-request"><i class="fas fa-home"></i><span>Quản lý yêu cầu</span></a></li>
    <li><a href="#"><i class="fas fa-gamepad"></i><span>Quản lý ngôn ngữ</span></a></li>
    <li><a routerLink="manage-engine"><i class="fas fa-suitcase"></i><span>Quản lý engine</span></a></li>
  </ul>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>