<div class="hipsum">
  <div>
    <input type="text" placeholder="Add new Category" id="NewCate">
    <button (click)="addCategory()">Add</button>
  </div>
  <div id="app">
    <div class="search-wrapper">
      <input type="text" placeholder="Start searching for category" [(ngModel)]="searchText" >
      <label for="">Search title:</label>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Edit Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate of listCategory| filter:searchText;index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{cate.category}}</td>
        <td>
          <input type="text" placeholder="{{cate.category}}" id="id_{{cate._id}}">
          <button (click)="updateCategory(cate)">Save</button>
        </td>
        <td><button (click)="delete(cate._id, i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>