<div class="hipsum">
  <div class="jumbotron">
    <h1 id="hello,-world!">Hej, SNARX!<a class="anchorjs-link" href="#hello,-world!"><span
          class="anchorjs-icon"></span></a></h1>
    <p>Znajdujesz się w testowym panelu zarządzania Twoją postacią - jeśli zauważysz jakiś błąd, zgłoś go Web
      Developer na Discord.</p>
    <p>
      <span class="btn btn-primary" href="#" role="button">Przenieś mnie!</span>
    </p>
  </div>
  <p>Poniżej możesz zauważyć osoby które niedawno złożyły podania na Whitelist.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Imię i nazwisko postaci</th>
        <th>Nick z Discord</th>
        <th>Nick z Forum</th>
        <th>Data wysłania</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Diesel</td>
        <td>SNARX</td>
        <td>Przyjmij albo odrzuć</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Justin</td>
        <td>Case</td>
        <td>Magister</td>
        <td>STEAM_0:0:1999734</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>John</td>
        <td>Buxton</td>
        <td>D3v</td>
        <td>STEAM_0:0:1999734</td>
      </tr>
    </tbody>
  </table>
</div>
