<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>EngineID</th>
      <th>Name</th>
      <th>Current Status</th>
      <th>
        <a (click)="addClass($event, 'badge-danger',rejected = !rejected)"><span class="badge ">rejected</span></a>
        <a (click)="addClass($event, 'badge-warning',pending = !pending)"><span
            class="badge badge-warning">pending</span></a>
        <a (click)="addClass($event, 'badge-success',public = !public)"><span class="badge">public</span></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <th scope="row">1</th>
      <td>{{video.category}}</td>
      <td>{{video.title}}</td>
      <td>
        <span *ngIf="video.status==='reject'" class="badge badge-danger">rejected</span>
        <span *ngIf="video.status==='requesting'" class="badge badge-warning">pending</span>
        <span *ngIf="video.status==='public'" class="badge badge-success">public</span>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="reject(video._id)">Reject</button>
        <button type="button" class="btn btn-success btn-sm" (click)="approve(video._id)">Approve</button>
        <a href="http://localhost:8081/api/play/{{video._id}}" target="_blank">Open Video</a>
      </td>
    </tr>
  </tbody>
</table> -->