<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main1">

  <div class="">
    <div class="">
      <div class="panel panel-default panel-info Profile">
        <div class="panel-heading"> My Profile </div>
        <div class="alert alert-success" *ngIf="isUpdateSuccess">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Profile successfully saved
        </div>
        <div class="alert alert-warning" *ngIf="isError">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Oops!</strong> Profile not saved. Try later.
        </div>

        <div class="panel-body">
          <div class="avatar-wrapper">
            <img class="profile-pic" src="" />
            <div class="upload-button">
              <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <form [formGroup]="avatarForm">
              <input class="file-upload" type="file" accept="image/*" ng2FileSelect [uploader]="uploader" formControlName="avatar" name="avatar"/>
            </form>

          </div>
          <div class="form-horizontal">
            <form [formGroup]="userForm">
              <div class="form-group">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" placeholder="First Name" formControlName="firstName">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" formControlName="username" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Current Password</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" name="department" placeholder="Current Password"
                    formControlName="password">
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" name="department" placeholder="New Password"
                  formControlName="password">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" name="department" placeholder="Comfirm password"
                  formControlName="confirmPassword">
                </div>
              </div> -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-primary" (click)="updateMe()" [disabled]="disableButton">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>