#myList li {
  display: block;
}

.main {
  padding: 10em 0 0 0;
}

.comment-message {
  width: 100%;
  min-height: 100px;
}

.sub_menu {
  justify-content: space-between;
  display: flex;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}