<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="show-top-grids">
    <div class="col-sm-8 single-left">
      <div class="song">
        <div class="song-info">
          <h3>{{videoOgirin?.title}}</h3>
        </div>
        <div id="showVideo" style="height:376px; width: 700px">
        </div>
      </div>

      <div class="clearfix"> </div>
      <div class="published">

        <div class="load_more">
          <ul id="myList">
            <li>
              <h4>Published on 15 June 2015</h4>
              <p>{{videoOgirin?.detail}}</p>
            </li>
            <li>
              <div class="load-grids">
                <div class="load-grid">
                  <p>Category</p>
                </div>
                <div class="load-grid">
                  <a routerLink="/category/{{videoOgirin?.category}}">{{videoOgirin?.category}}</a>
                </div>
                <div class="clearfix"> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="all-comments">
        <div class="all-comments-info">
          <div class="box">
            <form>
              <textarea class="comment-message" placeholder="Message" #myInput></textarea>
              <input type="submit" value="SEND" (click)="sendComment()">
              <div class="clearfix"> </div>
            </form>
          </div>
        </div>

        <div *ngFor="let comment of comments">
          <app-comment idComment="{{comment._id}}" autor="{{autor}}" idAutor="{{idAutor}}"></app-comment>
        </div>
      </div>
    </div>
    <div class="col-md-4 single-right">
      <div class="sub_menu">
        <h3>Up Next</h3>
        <a class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" id="dropdownDownload" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="margin-right: 20px">
            Download<span class="glyphicon glyphicon-download-alt"></span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownDownload">
            <a class="dropdown-item" *ngFor="let transcript of listIdTranscript"
              href="http://localhost:8081/api/video/downloadTranscript/{{transcript.id}}">{{transcript.language}}
              transcript</a>
            <a class="dropdown-item" href="http://localhost:8081/api/video/downloadVideo/{{idVideo}}">Video</a>
          </div>
        </a>
      </div>

      <div class="single-grid-right">
        <div class="single-right-grids" *ngFor="let video of listVideo">
          <div class="col-md-4 single-right-grid-left">
            <a routerLink="/show-video/{{video._id}}"><img src="http://localhost:8081/api/image/{{video.thumbnail}}"
                alt="" /></a>
          </div>
          <div class="col-md-8 single-right-grid-right">
            <a routerLink="/show-video/{{video._id}}" class="title">{{video.title}}</a>
            <p class="author"><a href="#" class="author">{{video.owner}}</a></p>
            <p class="views">{{video.views}} views</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>