<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="show-top-grids">
    <div class="col-sm-8 single-left">
      <div class="song">
        <div class="song-info">
          <h3>{{videoOgirin?.title}}</h3>
        </div>
        <div>
          <video height="376px" width="100%" controls *ngIf="url" preload="auto" id="myVideo">
            <p>
              Your browser doesn't support video.
            </p>
            <source src="{{url}}" type="video/mp4">
            <!-- <track kind="captions" *ngFor="let transcript of videoOgirin.transcripts" src="http://localhost:8081/api/transcript/{{transcript.idTranscript}}.vtt"
             srclang="{{transcript.language}}" label="{{transcript.language}}" default> -->
            <!-- chu y phai co .vtt -->
            <track kind="captions" src="../../../../assets/test" srclang="en" label="English" default>
          </video>
        </div>
      </div>

      <div class="clearfix"> </div>
      <div class="published">

        <div class="load_more">
          <ul id="myList">
            <li>
              <h4>Published on 15 June 2015</h4>
              <p>{{videoOgirin?.detail}}</p>
            </li>
            <li>
              <div class="load-grids">
                <div class="load-grid">
                  <p>Category</p>
                </div>
                <div class="load-grid">
                  <a href="/movies.html">{{videoOgirin?.category}}</a>
                </div>
                <div class="clearfix"> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="all-comments">
        <div class="all-comments-info">
          <a href="#">All Comments (8,657)</a>
          <div class="box">
            <form>
              <textarea class="comment-message" placeholder="Message" #myInput></textarea>
              <input type="submit" value="SEND" (click)="sendComment()">
              <div class="clearfix"> </div>
            </form>
          </div>
          <!-- <div class="all-comments-buttons">
            <ul>
              <li><a href="#" class="top">Top Comments</a></li>
              <li><a href="#" class="top newest">Newest First</a></li>
              <li><a href="#" class="top my-comment">My Comments</a></li>
            </ul>
          </div> -->
        </div>
        <!-- <div class="media-grids">
          <div class="media" *ngFor="let comment of comments">
            <h5>{{comment.nameUser}}</h5>
            <div class="media-left">
              <a href="#">

              </a>
            </div>
            <div class="media-body">
              <p>{{comment.content}}</p>
              <span>{{comment.created.slice(0, 10)}}</span>
            </div>
          </div>
        </div> -->
        <!-- Contenedor Principal -->
        <div *ngFor="let comment of comments">
          <app-comment idComment="{{comment._id}}"></app-comment>
        </div>
      </div>
    </div>
    <div class="col-md-4 single-right">
      <h3>Up Next</h3>
      <div class="single-grid-right">
        <div class="single-right-grids" *ngFor="let video of listVideo">
          <div class="col-md-4 single-right-grid-left">
            <a (click)="a(video.thumbnail)" routerLink="/show-video/{{video._id}}"><img
                src="http://localhost:8081/api/image/{{video.thumbnail}}" alt="" /></a>
          </div>
          <div class="col-md-8 single-right-grid-right">
            <a (click)="a(video.thumbnail)" routerLink="/show-video/{{video._id}}" class="title">{{video.title}}</a>
            <p class="author"><a href="#" class="author">{{video.owner}}</a></p>
            <p class="views">{{video.views}} views</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>