<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="show-top-grids">
    <div class="main-grids news-main-grids">
      <div class="recommended-info">
        <h3>History Of My Play</h3>
        <p class="history-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, eros
          sed suscipit porttitor, diam felis tempus odio, eget sollicitudin purus sem sit amet dolor. Integer euismod
          non mauris commodo rutrum. Nulla risus felis, rhoncus vel est sed, consequat efficitur ante. Phasellus mi
          sapien, accumsan vitae lobortis vitae, laoreet dapibus metus. Pellentesque id ipsum vel nibh imperdiet
          imperdiet ac ac mauris. Suspendisse ac leo augue. Nullam venenatis massa ut pulvinar scelerisque. Duis vel
          vehicula urna. Quisque semper vitae lectus a feugiat. Sed dignissim egestas nunc, nec suscipit mauris
          interdum lobortis.
          <span>Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris
              vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc.
              Morbi
              dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus
              feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et
              sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.
            </span>
        </p>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2001</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Praesent a dui sit amet turpis tempus gravida eu quis mi</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2003</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Duis iaculis justo nec tellus bibendum rhoncus pretium leo</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2005</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Class aptent taciti sociosqu ad litora torquent per conubia</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2007</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Integer sem sem, ornare id velit a, semper fringilla magna</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2009</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Praesent a dui sit amet turpis tempus gravida eu quis mi</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="history-grids">
          <div class="col-md-1 history-left">
            <p>2011</p>
          </div>
          <div class="col-md-11 history-right">
            <h5>Integer sem sem, ornare id velit a, semper fringilla magna</h5>
            <p>Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.
              Morbi eget malesuada nunc. Nullam ac congue ipsum, non tristique orci. Sed placerat porta justo, at
              sollicitudin velit. Curabitur sed hendrerit justo, eu vehicula lorem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
