<div class="comment-codepen">
  <div class="comments-container">

    <ul id="comments-list" class="comments-list">
      <li >
        <div class="comment-main-level">
          <!-- Avatar -->
          <div class="comment-avatar">
            <img src="http://localhost:8081/api/image/{{mainComment?.avatar}}"*ngIf="mainComment?.avatar">
            <img src="../../../../assets/images/default_avatar.png" *ngIf="!mainComment?.avatar">
          </div>
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name" *ngIf="idAutor!==mainComment.id"><a>{{mainComment.name}}</a></h6>
              <h6 class="comment-name by-author" *ngIf="idAutor===mainComment.id"><a>{{mainComment.name}}</a></h6>
              <span>{{mainComment?.created?.slice(0,10)}}</span>
              <i class="fa fa-reply" (click)="changReply()"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              {{mainComment.mainContent}}
            </div>
          </div>
        </div>
        
        <ul class="comments-list reply-list">
          <li *ngFor="let comment of listSubComments">
            <!-- Avatar -->
            <div class="comment-avatar">
              <img src="http://localhost:8081/api/image/{{comment.avatar}}" *ngIf="comment.avatar">
              <img src="../../../../assets/images/default_avatar.png" *ngIf="!comment.avatar">
            </div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name"><a>{{comment.name}}</a></h6>
                <span>{{comment.created.slice(0,10)}}</span>
                <i class="fa fa-reply" (click)="changReply()"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                {{comment.content}}
              </div>
            </div>
          </li>

          <li *ngIf="reply">
            <div class="comment-avatar">
              <img src="http://localhost:8081/api/image/{{userCurrent.avatar}}" *ngIf="!userCurrent.avatar">
              <img src="../../../../assets/images/default_avatar.png" *ngIf="userCurrent.avatar">
            </div>
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name" *ngIf="idAutor!==userCurrent.id"><a>{{userCurrent.name}}</a></h6>
                <h6 class="comment-name by-author" *ngIf="idAutor===userCurrent.id"><a>{{userCurrent.name}}</a></h6>
                <span>now</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                <form (submit)="submit()" >
                  <input type="text" class="form-control" #comment>
                </form>
              </div>

            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>