<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> -->
<div class="wrap">
  <form class="login">
    <div class="toggle-bar">
      <div class="toggle-login active">
        <span>Login</span>
      </div>
      <div class="toggle-register">
        <span>Register</span>
      </div>
    </div>
    <div class="login-body">
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-lock"></i>
        <input class="user-input" type="password" placeholder="Password">
      </div>
      <p id="forgot-password">Forgot your password?</p>
      <button class="btn" id="btn-login">Login</button>
    </div>
    <div class="register-body" style="display:none;">
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-lock"></i>
        <input class="user-input" type="password" placeholder="Password">
      </div>
      <p id="registered">Already registered?</p>
      <button class="btn" id="btn-login">Register</button>
    </div>
  </form>
</div>