<div class="container">
  <div class=".col-xs-4 .col-md-offset-2">
    <div class="panel panel-default panel-info Profile">
      <div class="panel-heading"> My Profile </div>
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Profile successfully saved
      </div>
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oops!</strong> Profile not saved. Try later.
      </div>
      <div class="panel-body">
        <div class="avatar-wrapper">
          <img class="profile-pic" src="" />
          <div class="upload-button">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
          </div>
          <input class="file-upload" type="file" accept="image/*" />
        </div>
        
        <div class="form-horizontal">
          <form>
            <div class="form-group">
              <label class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="firstName" placeholder="First Name"
                  ng-model="me.firstName">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="lastName" placeholder="Last Name" ng-model="me.lastName">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="email" placeholder="Email" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Department</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="department" placeholder="Department" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="title" placeholder="Title" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Start Date</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="startDate" placeholder="Start Date" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Location</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="location" placeholder="Location" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="phone" placeholder="xxx-xxx-xxxx" ng-model="me.email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="updateMe()">Update</button>
              </div>
            </div>
          </form>
        </div> <!-- end form-horizontal -->
      </div> <!-- end panel-body -->

    </div> <!-- end panel -->


  </div> <!-- end size -->
</div> <!-- end container-fluid -->